.Message {
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.MessageLabel {
  padding-left: 5px;
}

.MessageDeleteButton {
  text-align: center;
  align-items: center;
}

.MessageBody {
  padding-left: 5px;
}

.App {
  text-align: left;
  padding-left: 20px;
  padding-top: 30px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}
